[Desktop Entry]
Version=1.0
Type=Application
Name=EasyPaper
GenericName=Paper Management Platform
Comment=Academic paper and author information management tool
Categories=Science;Education;Office;Database;
Keywords=paper;research;academic;vldb;database;management;
Exec=EasyPaper %U
Icon=tech.silan.EasyPaper
Terminal=false
StartupNotify=true
StartupWMClass=EasyPaper
MimeType=application/vnd.ms-excel;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;
